@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
  background: rgb(0, 0, 0);
  background: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgba(44, 8, 80) 70%, rgb(44, 8, 80) 75%,  rgb(0, 0, 0) 100%);
}

.gradient-top{
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,8,80,1) 92%);
}

.wrapper{
  max-width: 1095px;
  padding-inline: 10px 0px;
  margin: auto;
}

.wrapper-padding-y{
  max-width: 1095px;
  padding-inline: 10px 0px;
  padding: 100px 0px;
  margin: auto;
}

.wrapper-component{
  max-width: 1095px;
  margin: auto;
}

.center-absolute{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.markdown{
  font-size: 15px;
  margin-top: 15px;
}

.markdown p {
  margin-top: 10px;
}

.technologies{
  grid-template-columns: 1fr auto;
}

@media(max-width: 1100px){
  .wrapper{
    padding-inline: 20px;
  }

  .wrapper-component{
    padding-inline: 20px;
  }

  .wrapper-padding-y{
    padding-inline: 20px;
  }
}

.popup{
  /* transform: translate(-50%, -50%) !important; */
}